<div class="preloader">
  <div class="preloader-inner">
    <div class="preloader-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<header class="header">
  <div class="navbar-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand logo" href="/">
              <img class="logo1" src="../../../assets/img/logo.png" alt="LET'S JAM"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
              <!--<p class="lang" style="display: none;" text="${#locale}"></p>-->
              <p class="lang" style="display: none;"></p>
              <ul id="nav" class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/musicsheets']"
                     [routerLinkActive]="['active']">{{"Common.musicSheets" | translate}}</a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/songs']" [routerLinkActive]="['active']">{{"Common.songs" | translate}}</a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/create-upload']"
                     [routerLinkActive]="['active']">{{"Common.createUpload" | translate}}</a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/about-us']" [routerLinkActive]="['active']">{{"Common.aboutus" | translate}}</a>
                </li>
                <li *ngIf="loggedUser" class="ml-4 d-flex align-items-center justify-content-end">
                  <a class="p-0" [routerLink]="['/profile']">

                    <img [src]="loggedUser.avatar ?
                   'http://letsjam.ccml.it' + loggedUser.avatar
                   :'https://avatars.dicebear.com/api/male/'+loggedUser.firstname+'.svg'" alt="profile avatar"
                         class="profile">
                  </a>
                </li>
                <li *ngIf="loggedUser" class="nav-item ml-2">
                  <a [routerLink]="['/profile']" [routerLinkActive]="['active']">{{loggedUser.firstname}}</a>
                </li>
                <li class="nav-item flag-container" (click)="changeLang('en')" *ngIf="currentLang == 'it'"
                    style="height: 50px; margin-top: 17px;"><img style="height: 100%;"
                                                                 src="../../../assets/img/i18n/it-flag.png" alt="it">
                </li>
                <li class="nav-item flag-container" (click)="changeLang('it')" *ngIf="currentLang == 'en'"
                    style="height: 50px; margin-top: 17px;"><img style="height: 100%;"
                                                                 src="../../../assets/img/i18n/uk-flag.png" alt="en">
                </li>
              </ul>
            </div>
            <!-- navbar collapse -->
            <div class="button">
              <a *ngIf="!isAuthenticated()" [routerLink]="['/login']" class="btn">{{"Login.login" | translate}}</a>
              <a *ngIf="isAuthenticated()" (click)="logout()" class="btn">{{"Login.logout" | translate}}</a>
            </div>
          </nav>
          <!-- navbar -->

        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- navbar area -->
</header>
<!-- End Header Area -->
