<div>
    <!--<div class="musicsheet-card fadeInUp mb-4" th:onclick="window.location.href = '/musicsheets/'+[[${musicsheet.id}]];">-->
    <div class="musicsheet-card fadeInUp mb-4">
        <div class="d-flex flex-row align-items-center justify-content-between mb-2">
            <!--<h3 th:text="${musicsheet.title}"></h3>-->
            <h3>MusicSheet title</h3>
            <div style="display: flex">
                <!--<div class="d-flex align-items-center" sec:authorize="hasRole('AMMINISTRATORE')">
                    <div th:id="${musicsheet.id}" class="verified-badge d-flex align-items-center" th:classappend="${!musicsheet.verified ? 'not-verified-badge' : ''}">
                        <svg th:replace="fragments/icons :: verifyBadge"></svg>
                        [[#{musicsheets.verified}]]
                    </div>
                </div>-->
                <div class="d-flex align-items-center">
                    <div class="verified-badge d-flex align-items-center">
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center justify-content-between interaction-container" style="gap: 10px;">
                    <div class="action-container">
                        <!--<svg th:replace="fragments/icons :: like"></svg>
                        <span th:text="${musicsheet.likes.size}"></span>
                        <i></i>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-between">
            <div class="d-flex flex-column align-items-start justify-content-between">
                
            <!--<p th:if="${musicsheet.song}" th:inline="text" style="margin:0"><span>Brano: </span> [[${musicsheet.song.author+' - '+musicsheet.song.title}]]</p>
            <p th:unless="${musicsheet.song}"><span>Brano: </span>Inedito</p>
            <p th:if="${musicsheet.song != null && musicsheet.song.genre != null}" th:inline="text"><span>Genere: </span>[[${musicsheet.song.genre.name}]]</p>
            <p th:unless="${musicsheet.song != null && musicsheet.song.genre != null}"><span>Genere: </span> Non definito</p>
            <div class="d-flex align-items-center justify-content-between mt-2" style="gap:10px;">
                <div class="avatar" th:if="${musicsheet.user.avatar}" th:style="'background:url('+${musicsheet.user.avatar}+');'">
                    &nbsp;
                </div>
                <div class="avatar" th:unless="${musicsheet.user.avatar}" th:style="'background:url(https://avatars.dicebear.com/api/male/'+${musicsheet.user.firstname}+'.svg);'">
                    &nbsp;
                </div>
                <p th:text="${musicsheet.user.username}" class="mt-1"style="margin:0; text-transform: capitalize;"></p>
            </div>
            </div>
            <div sec:authorize="!hasRole('AMMINISTRATORE')" class="d-flex flex-row align-items-center justify-content-end" style="gap:20px">

                <div class="icon" th:each="instrument : ${musicsheet.instruments}">
                    <svg th:replace="fragments/icons :: __${instrument.name.toLowerCase()}__"></svg>
                    <i></i>
                </div>-->
                
            </div>
        </div>
    </div>
    <div class="verify-btn" sec:authorize="hasRole('AMMINISTRATORE')">
        <div th:data-verify="${musicsheet.id}" th:if="${!musicsheet.verified}" class="action-container">
            <span th:text="#{admin.manageSheets.verify}" class="d-flex flex-row align-items-center justify-content-end" style="gap:20px"></span>
        </div>
    </div>
</div>