<div *ngIf="musicSheet !== undefined">
    <div class="musicsheet-card fadeInUp mb-4">
        <div class="d-flex flex-row align-items-center justify-content-between mb-2">
            <h3>{{musicSheet?.title}}</h3>
            <div style="display: flex">
                <div class="d-flex align-items-center" *ngIf="musicSheet.user.role !== 'AMMINISTRATORE'">
                   <div [attr.id]="musicSheet.id" class="verified-badge d-flex align-items-center" [class]="!musicSheet.verified ? 'not-verified-badge' : ''">
                       <img src="assets/icons/verifyBadge.svg" />
                      verificato
                   </div>
                </div>
               <div class="d-flex flex-row align-items-center justify-content-between interaction-container" style="gap: 10px;">
                   <div class="action-container">
                       <img src="../../../assets/icons/like.svg">
                       <span>{{musicSheet.likes}}</span>
                       <i></i>
                   </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-between">
            <div class="d-flex flex-column align-items-start justify-content-between">
                <p *ngIf="musicSheet.song" style="margin:0"><span>Brano: </span>{{musicSheet.song.title + musicSheet.song.author}}</p>
                <ng-template [ngIf]="musicSheet.song" ><p><span>Brano: </span>Inedito</p></ng-template>
                <p *ngIf="musicSheet.song != null && musicSheet.song.genre != null"><span>Genere: </span>{{musicSheet.song.genre.name}}</p>
                <ng-template [ngIf]="musicSheet.song != null && musicSheet.song.genre != null"><p><span>Genere: </span> Non definito</p></ng-template>
                <div class="d-flex align-items-center justify-content-between mt-2" style="gap:10px;">
                    <div class="avatar" *ngIf="musicSheet.user.avatar" style="{{'background:url(' + musicSheet.user.avatar + '.svg)'}}">
                    </div>
                    <div class="avatar" *ngIf="!musicSheet.user.avatar" style="{{'background:url(https://avatars.dicebear.com/api/male/' + musicSheet.user.firstname + '.svg)'}}">
                    </div>
                    <!--<div class="avatar" th:unless="${musicsheet.user.avatar}" th:style="'background:url(https://avatars.dicebear.com/api/male/'+${musicsheet.user.firstname}+'.svg);'">
                    </div>-->
                    <p class="mt-1"style="margin:0; text-transform: capitalize;">{{musicSheet.user.firstname}}</p>
                </div>
            </div>
            <!--<div sec:authorize="!hasRole('AMMINISTRATORE')" class="d-flex flex-row align-items-center justify-content-end" style="gap:20px">

                <div class="icon" th:each="instrument : ${musicsheet.instruments}">
                    <svg th:replace="fragments/icons :: __${instrument.name.toLowerCase()}__"></svg>
                    <i></i>
                </div>

            </div>-->
            <!--<div class="verify-btn" sec:authorize="hasRole('AMMINISTRATORE')">
                <div th:data-verify="${musicsheet.id}" th:if="${!musicsheet.verified}" class="action-container">
                    <span th:text="#{admin.manageSheets.verify}" class="d-flex flex-row align-items-center justify-content-end" style="gap:20px"></span>
                </div>
            </div>-->
    </div>
</div>
