<div style="padding-top: 90px;">
  <section class="hero-area pt-4 pb-4">
    <div class="container mt-4">
      <div class="row">
        <div class="col-12 mt-4 pt-4 pb-4">
          <h3 class="mt-4 mb-4">{{"ModifyProfile.modifyProfilo" | translate}}</h3>
        </div>
        <form [formGroup]="modifyUserForm" (ngSubmit)="updateUser()" enctype="multipart/form-data">
          <input type="hidden"/>
          <input type="hidden"/>
          <div class="main-wrap">
            <div class="left-column">
              <img class="new-avatar" id="frame" src="#">
<!--              <img *ngIf="loggedUser.avatar" src="{{loggedUser.avatar}}" alt="profile avatar" class="profile-avatar" >-->
              <img [src]="loggedUser.avatar ?
                   'http://letsjam.ccml.it/' + loggedUser.avatar
                   :'https://avatars.dicebear.com/api/male/'+loggedUser.firstname+'.svg'"
                   alt="profile avatar" class="profile-avatar" #avat>
              <label name="imgInput">
                <input (change)="onFileChange($event)" name="imgInput" id="avatar" type="file" accept="image/*">
              </label>
            </div>
            <div class="right-column">
              <label name="firstname">
                {{"ModifyProfile.name" | translate}}
                <input formControlName="firstname" value="{{loggedUser.firstname}}" type="text"/>
                <small style="color: red;" *ngIf="modifyUserForm.get('firstname')?.invalid && modifyUserForm.get('firstname')?.touched">{{"ModifyProfile.error_required" | translate}}</small>
              </label>
              <label name="lastname">
                {{"ModifyProfile.surname" | translate}}
                <input formControlName="lastname" value="{{loggedUser.lastname}}" type="text"/>
                <small style="color: red;" *ngIf="modifyUserForm.get('lastname')?.invalid && modifyUserForm.get('lastname')?.touched">{{"ModifyProfile.error_required" | translate}}</small>
              </label>
              <label name="username">
                Username
                <input formControlName="username" value="{{loggedUser.username}}" type="text"/>
                <small style="color: red;" *ngIf="modifyUserForm.get('uername')?.invalid && modifyUserForm.get('username')?.touched">{{"ModifyProfile.error_required" | translate}}</small>
              </label>
              <label name="email">
                Email
                <input formControlName="email" value="{{loggedUser.email}}" name="email" type="email" required/>
                <small style="color: red;" *ngIf="modifyUserForm.get('email')?.invalid && modifyUserForm.get('email')?.touched">{{"ModifyProfile.error_required" | translate}}</small>
              </label>
              <div class="preferred-genres">
                <span
                  style="align-self: flex-start; font-weight: 500;">{{"ModifyProfile.preferredGenres" | translate}}</span>
                <div *ngFor=" let genre of genres">
                  <input formControlName="genres" value="{{genre.id}}" type="checkbox"(change)="genresValues($event)"/>
                  <span> {{genre.name}} </span>
                </div>
              </div>
              <div class="preferred-genres">
                <span
                  style="align-self: flex-start;font-weight: 500;">{{"ModifyProfile.preferredInstruments" | translate}}</span>
                  <div *ngFor=" let instrument of instruments">
                    <input formControlName="instruments" value="{{instrument.id}}" type="checkbox" (change)="instrumetsValues($event)"/>
                    <span>{{instrument.name}} </span>
                  </div>
              </div>
              <div class="button btn">
                <button type="submit" class="button btn">{{"ModifyProfile.modify" | translate}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
