
<div style="padding-top: 90px;">

   <!-- Start Hero Area -->
    <section class="hero-area">
            <div class="row">
                <div class="sidebar">
                    <form [formGroup]="sidebarForm" id="sidebar-form">
                        <div class="search mb-5">
                            <img src="../../../assets/icons/search.svg">
                            <input type="text" [placeholder]="'Common.search' | translate" [(ngModel)]="search">
                        </div>


                        <div class="option-container">
                            <div class="option-title-container">
                                <div class="option-icon">
                                    <img src="assets/icons/genres.svg"/>
                                </div>
                                <h4 style="color: white;">{{"Common.genre" | translate}}</h4>
                            </div>

                            <div class="sub-option-container">
                                <div class="checkbox-option" *ngFor="let genre of genres">
                                    <input type="checkbox" class="form-check-input" value="{{genre.name}}" formControlName="genres">
                                    <p>{{genre.name}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="option-container">
                            <div class="option-title-container">
                                <div class="option-icon">
                                  <img src="assets/icons/sort.svg"/>
                                </div>
                                <h4 style="color: white;"> {{"Common.sortBy" | translate}} </h4>
                            </div>

                            <div class="sub-option-container">
                                <div class="radio-option">
                                    <input type="radio" class="form-check-input" value="title" name="sortBy" formControlName="sortBy">
                                    <p> {{"Common.title" | translate}} </p>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" class="form-check-input" name="sortBy" value="albumName" formControlName="sortBy">
                                    <p> {{"Common.albumName" | translate}}</p>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" class="form-check-input" name="sortBy" value="createDateTime" formControlName="sortBy">
                                    <p> {{"Common.songDate" | translate}}</p>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" class="form-check-input" name="sortBy" value="duration" formControlName="sortBy">
                                    <p> {{"Common.duration" | translate}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="option-container">
                            <div class="option-title-container">
                                <div class="option-icon">
                                  <img src="assets/icons/albumType.svg"/>
                                </div>
                                <h4 style="color: white;">{{"Song.albumType" | translate}}</h4>
                            </div>

                            <div class="sub-option-container">
                                <div class="radio-option">
                                    <input type="radio" class="form-check-input" formControlName="albumType" value="ALBUM">
                                    <p>Album</p>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" class="form-check-input" formControlName="albumType" value="SINGLE">
                                    <p>Single</p>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" class="form-check-input" formControlName="albumType" value="COLLECTION">
                                    <p>Collection</p>
                                </div>
                            </div>
                        </div>

                        <div class="option-container">
                            <div class="option-title-container">
                                <div class="option-icon">
                                  <img src="assets/icons/filter.svg"/>
                                </div>
                                <h4 style="color: white;">{{"Common.filters" | translate}}</h4>
                            </div>

                            <div class="sub-option-container">
                                <div class="checkbox-option">
                                    <input type="checkbox" formControlName="explicit" class="form-check-input">
                                    <p>{{"Common.isExplicit" | translate}}</p>
                                </div>
                            </div>

                            <div class="sub-option-container">
                                <div class="checkbox-option">
                                    <input type="checkbox" formControlName="hasLyrics" class="form-check-input">
                                    <p>{{"Common.hasLyrics" | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="rearrange-submit" class="button wow fadeInUp submit mt-4" data-wow-delay=".7s"
                                style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp; width: fit-content; border-width: inherit;
                                background-color: transparent;">
                            <a class="btn">{{"Common.search" | translate}}</a>
                        </button>
                    </form>
                </div>
                <div class="col pt-4 pb-4 pl-4 relative" style="padding: 20px;overflow-y: scroll; overflow-x:hidden">
                        <h1 class="mb-3">{{"Song.heading" | translate}}</h1>
                        <div *ngFor="let song of songs | paginate:  {
                                                                            id:'some_id',
                                                                            itemsPerPage: 5,
                                                                            currentPage: page}">
                            <app-song-card [routerLink]="['/song',song.id]" [song]="song"></app-song-card>
                        </div>
                        <img class="service-patern wow fadeInRight overlay-image" data-wow-delay=".5s" src="assets/img/service-patern.png" alt="#"
                        style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;position: absolute;top: 65px;right: -55px;">

                  <nav>
                    <pagination-controls id="some_id"
                                         (pageChange)="pageChanged($event)"
                                         (pageBoundsCorrection)="pageChanged($event)"
                                         previousLabel="Previous"
                                         nextLabel="Next"
                                         screenReaderPaginationLabel="Pagination"
                                         screenReaderPageLabel="page">
                    </pagination-controls>
                  </nav>

                </div>
            </div>

    </section>

</div>
