<div class="body">
    <small *ngIf="error == 409 || 500 && error!==undefined" class="error-message">{{"Register.error" | translate}}</small>
    <div class="form-container flex-row" style="width:900px;">
        <div class="d-flex flex-column align-items-center justify-content-between pb-4" style="flex:5; height: 100%;">
            <h2 class="mb-4 text-center">{{"Login.register" | translate}}</h2>
            <div class="logo-container mb-4">
                <img src="../../../assets/img/logow.png" alt="letsjam logo">
            </div>
            <!--<div class="internationalization justify-content-center">
                <p class="lang" style="display: none;" th:text="${#locale}"></p>
                <img class="flag-container" th:if="${#locale.toString() == 'it'}" th:src="@{img/i18n/it-flag.png}" alt="it">
                <img class="flag-container" th:if="${#locale.toString() == 'en'}" th:src="@{img/i18n/uk-flag.png}" alt="en">
            </div>-->
            <a [routerLink]="['/login']" class="mt-2" style="font-size: 16px;">{{"Login.login" | translate}}</a>
        </div>
        
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="width: 90%;flex:7;">
            <div class="input-container mb-3">
                <label class="mb-1">{{"Common.firstname" | translate}}</label>
                <input type="text" formControlName="firstname" [placeholder]="'Register.ph_firstname' | translate"/>
            </div>

            <div class="input-container mb-3">
                <label class="mb-1">{{"Common.lastname" | translate}}</label>
                <input type="text" formControlName="lastname" [placeholder]="'Register.ph_lastname' | translate"/>
            </div>

            <div class="input-container mb-3">
                <label class="mb-1">Username</label>
                <input type="text" formControlName="username" [placeholder]="'Register.ph_username' | translate"/>
            </div>

            <div class="input-container mb-3">
                <label class="mb-1"> Email </label>
                <input type="text" formControlName="email" [placeholder]="'Login.email_placeholder' | translate"/>
                <small style="color: red;" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">{{"Register.email_required" | translate}}</small>
            </div>

            <div class="input-container mb-3">
                <label class="mb-1"> Password </label>
                <input type="password" formControlName="password" [placeholder]="'Login.password_placeholder' | translate"/>
                <small style="color: red;" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">{{"Register.password_required" | translate}}</small>
            </div>
            <div class="input-container mb-3 align-items-center">
                <button type="submit" class="button wow fadeInUp" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp; border-width: inherit;
                background-color: transparent;">
                    <a class="btn">{{"Login.register" | translate}}</a>
                </button>
            </div>
        </form>
    </div>
</div>
