<!--<html-->
<!--  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--  xmlns:th="http://www.thymeleaf.org"-->
<!--  xmlns:nl2br="https://github.com/bufferings/thymeleaf-extras-nl2br"-->
<!--  layout:decorate="~{layout/layout}">-->
<!--<head>-->
<!--  <script src="https://prod.flat-cdn.com/embed-js/v1.1.0/embed.min.js"></script>-->
<!--  <link rel="stylesheet" type="text/css" th:href="@{/css/create-upload.css}">-->
<!--  <script type="text/javascript" th:src="@{/js/create-upload.js}"></script>-->
<!--</head>-->
<!--<body>-->
<div style="padding-top:90px">

  <section id="flat-wrap" class="flat-wrap">
    <div class="flat-inner-wrap">

      <div id="create" class="flat-part-left first-hidden mr-4">
        <h2>{{"CreteUpload.title" | translate}}</h2>
        <form id="createForm" method="post" enctype="multipart/form-data" style="width:100%">
          <div class="sheet-info">
            <label name="title" >
              {{"CreteUpload.musicsheet.title" | translate}}
              <input id="sheet-title" type="text" />
            </label>
            <label name="author">
              {{"CreteUpload.musicsheet.author" | translate}}
              <input id="sheet-author" name="title" type="text" required/>
            </label>

            <div class="d-flex flex-column align-items-start mt-3">
              <label name="song" class="mb-0">{{"CreteUpload.songBrano" | translate}}></label>
              <div class="btn-group btn-group-toggle songToggle" data-toggle="buttons">
                <label class="btn btn-primary active">
                  {{"CreteUpload.song.existing" | translate}}
                  <input type="radio" name="songType" id="option1" value="0" autocomplete="off" checked />
                </label>
                <label class="btn btn-primary" >
                  {{"CreteUpload.song.new" | translate}}
                  <input type="radio" name="songType" id="option2" autocomplete="off" value="1" />
                </label>
              </div>
            </div>

            <!-- New Song -->
            <div class="flex-column align-items-start" id="newSongContainer" style="display: none;">
              <label name="song" class="mb-0" style="width: 100%;">
                {{"CreteUpload.song.title" | translate}}
                <input name="songTitle" type="text"/>
              </label>

              <label name="song" class="mb-0" style="width: 100%;">
                {{"CreteUpload.song.author" | translate}}
                <input name="songTitle" type="text"/>
              </label>

            </div>
            <!-- Existing song -->
            <input id="chooseSong" name="song" type="text" placeholder="{{'CreteUpload.song.placeholder' | translate}}" />
            <ul id="songList">
              <!-- songs result from search -->
            </ul>
            <!--  -->

            <div class="d-flex flex-column align-items-start w-100 mt-2">
              <label name="song" class="mb-0" style="width: 100%;">{{"CreteUpload.song.genre" | translate}}</label>
<!--              <select class="form-select w-100" name="genre" th:field="${pageData.songGenre}">-->
<!--                <option value="" selected>{{"CreteUpload.song.chooseGenre" | translate}}</option>-->
<!--                <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>-->
<!--              </select>-->
            </div>

            <!-- hidden fields-->
            <input id="selectedSong" type="hidden"/>
            <input id="musicSheetContent" type="hidden"/>
            <input id="songType" type="hidden" />
            <input id="visibility" type="hidden" />
            <!-- -->

            <div class="d-flex flex-column align-items-start mt-3">
              <label name="visibility" class="mb-0">{{"CreteUpload.musicsheet.visibility" | translate}}</label>
              <div class="btn-group btn-group-toggle visibilityToggle" data-toggle="buttons">
                <label class="btn btn-primary active">
                  {{"CreteUpload.musicsheet.visibilityprivate" | translate}}
                  <input type="radio" name="musicSheetVisibility" id="option1" value="0" autocomplete="off" checked />
                </label>
                <label class="btn btn-primary">
                  {{"CreteUpload.musicsheet.visibilitypublic" | translate}}
                  <input type="radio" name="musicSheetVisibility" id="option2" autocomplete="off" value="1">
                </label>
              </div>
            </div>

            <div class="button wow fadeInUp submit mt-4" data-wow-delay=".7s"
                 style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp; width: fit-content;">
              <a class="btn">{{"CreteUpload.create" | translate}}</a>
            </div>

          </div>
        </form>
      </div>

      <div id="choose" class="flat-part-left">
        <h2>{{"CreteUpload.whattodo" | translate}}</h2>
        <div class="choose-alert">
          <div>
            <select id="select" class="slct">
              <option value="crea" class="opt">{{"CreteUpload.create" | translate}}</option>
              <option class="opt" value="carica">{{"CreteUpload.upload" | translate}}</option>
            </select>
          </div>
          <div id="instrumentForSheet" class="instruments-for-sheet wrapper">
            <h6 style="margin-bottom: 20px" class="align-center">{{"CreteUpload.selectInstruments" | translate}}</h6>
            <div class="inner-wrp">
<!--              <div th:each="instrument : ${instruments}" class="check">-->
<!--                <input type="checkbox" th:name="${instrument.name}"/>-->
<!--                <label th:for="${instrument.name}" th:text="${instrument.name}">{{instrument.name}}</label>-->
<!--              </div>-->
            </div>
            <div class="error-message mt-2 ml-5 mb-0" id="noInstrumentSelected" style="display: none;"
                 >{{"CreteUpload.instrumentserror" | translate}}</div>
          </div>
          <div id="fileForSheet" class="instruments-for-sheet">
            <input type="file" class="custom-file-input"  id="file-input" name="file">
          </div>
          <button id="confirmFirst" class="create-btn">{{"Common.confirm" | translate}}</button>
        </div>
      </div>
      <div class="flat-part-right">
        <app-flat></app-flat>
      </div>

    </div>
  </section>

</div>
