<!--<html-->
<!--  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--  xmlns:th="http://www.thymeleaf.org"-->
<!--  xmlns:nl2br="https://github.com/bufferings/thymeleaf-extras-nl2br"-->
<!--  layout:decorate="~{layout/layout}">-->
<!--<head>-->
<!--  <script src="https://prod.flat-cdn.com/embed-js/v1.1.0/embed.min.js"></script>-->
<!--  <link rel="stylesheet" type="text/css" th:href="@{/css/create-upload.css}">-->
<!--  <script type="text/javascript" th:src="@{/js/create-upload.js}"></script>-->
<!--</head>-->
<!--<body>-->
<div style="padding-top:90px">

  <section id="flat-wrap" class="flat-wrap">
    <div class="flat-inner-wrap">

      <div *ngIf="showFileData" id="create" class="flat-part-left mr-4">
        <h2>{{"CreteUpload.title" | translate}}</h2>
        <form [formGroup]="newSheetForm" id="createForm" enctype="multipart/form-data" (ngSubmit)="saveSheet()"
              style="width:100%">
          <div class="sheet-info">
            <label name="title">
              {{"CreteUpload.musicsheet.title" | translate}}
              <input formControlName="sheetTitle" [value]="sheetTitle" id="sheet-title" type="text"/>
            </label>
            <label name="author">
              {{"CreteUpload.musicsheet.author" | translate}}
              <input id="sheet-author" formControlName="sheetAuthor" [value]="sheetAuthor" name="title" type="text"
                     required/>
            </label>

            <div class="d-flex flex-column align-items-start mt-3">
              <label name="song" class="mb-0">{{"CreteUpload.song.songBrano" | translate}}</label>
              <div class="btn-group btn-group-toggle songToggle" data-toggle="buttons">
                <label for="option1" class="btn btn-primary"
                       [ngClass]="{'active': newSheetForm.get('songType')?.value == 0}">
                  {{"CreteUpload.song.existing" | translate}}
                  <input type="radio" formControlName="songType" name="songType" id="option1" value="0"
                         autocomplete="off" checked/>
                </label>
                <label for="option2" class="btn btn-primary"
                       [ngClass]="{'active': newSheetForm.get('songType')?.value == 1}">
                  {{"CreteUpload.song.new" | translate}}
                  <input type="radio" formControlName="songType" name="songType" id="option2" autocomplete="off"
                         value="1"/>
                </label>
              </div>
            </div>

            <!-- New Song -->
            <div *ngIf="newSheetForm.get('songType')?.value == 1" class="flex-column align-items-start"
                 id="newSongContainer">
              <label name="song" class="mb-0" style="width: 100%;">
                {{"CreteUpload.song.title" | translate}}
                <input name="songTitle" type="text"/>
              </label>

              <label name="song" class="mb-0" style="width: 100%;">
                {{"CreteUpload.song.author" | translate}}
                <input name="songAuthor" type="text"/>
              </label>

            </div>
            <!-- Existing song -->
            <input *ngIf="newSheetForm.get('songType')?.value == 0" (change)="searchSong($event)"
                   id="chooseSong" name="song" type="text"
                   placeholder="{{'CreteUpload.song.placeholder' | translate}}"/>
            <ul *ngIf="availableSongs !== undefined" id="songList">
              <!-- songs result from search -->
              <li *ngFor="let sg of availableSongs" (click)="selectSong(sg)"> {{sg.title}}</li>
            </ul>
            <!--  -->

            <div class="d-flex flex-column align-items-start w-100 mt-2">
              <label name="song" class="mb-0" style="width: 100%;">{{"CreteUpload.song.genre" | translate}}</label>
              <div class="sub-option-container">
              </div>
              <select formControlName="newSheetGenre" class="form-select w-100" name="genre">
                <option value="" selected>{{"CreteUpload.song.chooseGenre" | translate}}</option>
                <option *ngFor="let genre of genres" value="{{genre.id}}">{{genre.name}}</option>
              </select>
            </div>

            <div class="d-flex flex-column align-items-start mt-3">
              <label name="visibility" class="mb-0">{{"CreteUpload.musicsheet.visibility" | translate}}</label>
              <div class="btn-group btn-group-toggle visibilityToggle" data-toggle="buttons">
                <label class="btn btn-primary"
                       [ngClass]="{'active': newSheetForm.get('musicSheetVisibility')?.value == 0}">
                  {{"CreteUpload.musicsheet.visibilityprivate" | translate}}
                  <input type="radio" formControlName="musicSheetVisibility" name="musicSheetVisibility"
                         id="option1Visibility" value="0" autocomplete="off"
                         checked/>
                </label>
                <label class="btn btn-primary"
                       [ngClass]="{'active': newSheetForm.get('musicSheetVisibility')?.value == 1}">
                  {{"CreteUpload.musicsheet.visibilitypublic" | translate}}
                  <input type="radio" formControlName="musicSheetVisibility" name="musicSheetVisibility"
                         id="option2Visibility" autocomplete="off" value="1">
                </label>
              </div>
            </div>

            <button class="button wow fadeInUp submit mt-4" data-wow-delay=".7s"
                    style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp; width: fit-content; border-width: inherit;
                    background-color: transparent;">
              <a class="btn">{{"CreteUpload.create" | translate}}</a>
            </button>

          </div>
        </form>
      </div>

      <div *ngIf="(showChooseInstruments || showUploadFile || init) && !showFileData" id="choose"
           class="flat-part-left">
        <h2>{{"CreteUpload.whattodo" | translate}}</h2>
        <div class="choose-alert">
          <div>
            <select [(ngModel)]="selectedOption" id="select" class="slct">
              <option [ngValue]="undefined" selected>Scegli un'opzione</option>
              <option value="crea" class="opt">{{"CreteUpload.create" | translate}}</option>
              <option value="carica" class="opt">{{"CreteUpload.upload" | translate}}</option>
            </select>
          </div>
          <div *ngIf="showChooseInstruments && !showFileData" id="instrumentForSheet"
               class="instruments-for-sheet wrapper">
            <h6 style="margin-bottom: 20px" class="align-center">{{"CreteUpload.selectInstruments" | translate}}</h6>
            <div class="inner-wrp">
              <div *ngFor="let instrument of instruments" class="check">
                <input (click)="manageSelect(instrument.name)" type="checkbox" id="{{instrument.name}}"
                       name="${instrument.name}"/>
                <label for="{{instrument.name}}">{{instrument.name}}</label>
              </div>
            </div>
            <div class="error-message mt-2 ml-5 mb-0" id="noInstrumentSelected" style="display: none;"
            >{{"CreteUpload.instrumentserror" | translate}}</div>
          </div>
          <div *ngIf="showUploadFile && !showFileData" id="fileForSheet" class="instruments-for-sheet">
            <input (change)="onFileChange($event)" type="file" class="custom-file-input" id="file-input" name="file">
          </div>
          <button id="confirmFirst" (click)="manageConfirm()"
                  class="create-btn">{{"Common.confirm" | translate}}</button>
        </div>
      </div>
      <div class="flat-part-right">
        <app-flat (sheetEventLoaded)="extractInfo($event)" [score]="score"></app-flat>
      </div>

    </div>
  </section>

</div>
