<div>
    <!-- Start Hero Area -->
    <section class="hero-area" >
        <!-- Single Slider -->
        <div class="hero-inner">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-6 co-12">
                        <div class="home-slider">
                            <div class="hero-text">
                                <h1>{{"Home.title" | translate}}</h1>{{' '}}<h1>{{loggedUser? loggedUser.firstname + ' ' + loggedUser.lastname : '' }}</h1>
                                <p class="wow fadeInUp" data-wow-delay=".5s">{{"Home.subtitle" | translate}}</p>
                                <div class="button wow fadeInUp mb-5" data-wow-delay=".7s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
    </section>

    <!-- What we do section-->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title align-left">
                        <span class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">{{"Home.wwd_subtitle" | translate}}</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">{{"Home.wwd_title" | translate}}</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">{{"Home.wwd_description" | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="single-head">
                <img class="service-patern wow fadeInLeft" data-wow-delay=".5s" src="../../../assets/img/service-patern.png" alt="#" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <h3>{{"Home.wwd_firstcard_title" | translate}}</h3>
                            <div class="icon">
                                <i class="lni lni-microscope"></i>
                            </div>
                            <p>{{"Home.wwd_firstcard_description" | translate}}</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <h3>{{"Home.wwd_secondcard_title" | translate}}</h3>
                            <div class="icon">
                                <i class="lni lni-blackboard"></i>
                            </div>
                            <p>{{"Home.wwd_secondcard_description" | translate}}</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                            <h3>{{"Home.wwd_thirdcard_title" | translate}}</h3>
                            <div class="icon">
                                <i class="lni lni-ux"></i>
                            </div>
                            <p>{{"Home.wwd_thirdcard_description" | translate}}</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                            <h3>{{"Home.wwd_fourthcard_title" | translate}}</h3>
                            <div class="icon">
                                <i class="lni lni-graph"></i>
                            </div>
                            <p>{{"Home.wwd_fourthcard_description" | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- End What we do section-->
     <!-- Free Content Section -->
    <section class="section free-version-banner free-content-background">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 offset-lg-2 col-12">
                <div class="section-title mb-60">
                    <span class="text-white wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">{{"Common.free" | translate}}</span>
                    <h2 class="text-white wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">{{"Home.freesection_title" | translate}}</h2>
                    <p class="text-white wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">{{"Home.freesection_description" | translate}}</p>

                    <div class="button">
                        <a href="#" rel="nofollow" class="btn wow fadeInUp" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">{{"Home.freesection_button" | translate}}</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--End Free Content Section -->

     <!-- Start MostPopular Section -->
    <section class="services section about-us">
        <div class="container">
            <div class="row">
                <div class="col-12 relative">
                    <div class="section-title align-left">
                        <span class="wow fadeInDown" data-wow-delay=".2s">{{"Home.mostpopular" | translate}}</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">{{"Home.mostpopular_title" | translate}}</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">{{"Home.mostpopular_description" | translate}}</p>
                    </div>

                  <app-music-sheet-card *ngFor="let musicSheet of musicSheetsByLikes" [routerLink]="['/musicSheet',musicSheet.id]" [musicSheet]="musicSheet"></app-music-sheet-card>

                    <img class="service-patern wow fadeInRight overlay-image" data-wow-delay=".5s" src="../../../assets/img/service-patern.png" alt="#"
                    style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;position: absolute;top: 287px;right: -25px;">
                    <img class="service-patern wow fadeInRight overlay-image" data-wow-delay=".5s" src="../../../assets/img/service-patern.png" alt="#"
                    style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;position: absolute;bottom: -3px;left: -25px;">
                </div>
            </div>
        </div>
    </section>
     <!-- /End MostPopular Section -->

     <!-- Start random mushicSeet filtered by genre Section -->
    <section class="services section about-us">
        <div class="container">
            <div class="row">
                <div class="col-12 relative">
                    <div class="section-title align-left">
                        <span class="wow fadeInDown" data-wow-delay=".2s">{{"Home.msByGenre" | translate}}</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">{{"Home.msByGenre_title" | translate}}</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">{{"Home.msByGenre_description" | translate}}</p>
                    </div>
                  <div *ngFor="let obj of filteredSheet">

                    <h3 *ngIf="obj.sheets.length !== 0" class="wow fadeInUp genreTitle mt-5 mb-3" data-wow-delay=".4s">{{obj.name}}</h3>

                    <app-music-sheet-card [routerLink]="['/musicSheet',musicSheet.id]" *ngFor="let musicSheet of obj.sheets" [musicSheet]="musicSheet"></app-music-sheet-card>
                  </div>

                    <img class="service-patern wow fadeInRight overlay-image" data-wow-delay=".5s" src="../../../assets/img/service-patern.png" alt="#"
                    style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;position: absolute;top: 287px;right: -25px;">
                    <img class="service-patern wow fadeInRight overlay-image" data-wow-delay=".5s" src="../../../assets/img/service-patern.png" alt="#"
                    style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;position: absolute;bottom: -3px;left: -25px;">
                </div>
            </div>
        </div>
    </section>
    <!-- /End random mushicSeet filtered by genre Section -->

    <!-- Free Content Section -->
    <section class="section image-section"></section>
    <!--End Free Content Section -->

    <!--  People section -->
    <div class="latest-news-area section">
        <div class="container relative">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <span class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Let's Jam</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">{{"Home.peoplesection_title" | translate}}</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">{{"Home.peoplesection_description" | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single News -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="image">
                            <img class="thumb" src="../../../assets/img/people-1.jpg" alt="#">
                            <div class="meta-details">
                                <span style="text-transform: uppercase;">{{"Home.peoplesection_amateur" | translate}}</span>
                            </div>
                        </div>
                        <div class="content-body">
                            <h4 class="title">{{"Home.peoplesection_first_title" | translate}}</h4>
                            <p>{{"Home.peoplesection_first_description" | translate}}</p>
                        </div>
                    </div>
                    <!-- End Single News -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single News -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="image">
                            <img class="thumb" src="../../../assets/img/people-2.jpg"  alt="#">
                            <div class="meta-details">
                                <span style="text-transform: uppercase;">{{"Home.peoplesection_composer" | translate}}</span>
                            </div>
                        </div>
                        <div class="content-body">
                            <h4 class="title">{{"Home.peoplesection_second_title" | translate}}</h4>
                            <p>{{"Home.peoplesection_second_description" | translate}}</p>
                        </div>
                    </div>
                    <!-- End Single News -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single News -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <div class="image">
                            <img class="thumb" src="../../../assets/img/people-3.jpg"  alt="#">
                            <div class="meta-details">
                                <span style="text-transform: uppercase;">{{"Home.peoplesection_professionist" | translate}}</span>
                            </div>
                        </div>
                        <div class="content-body">
                            <h4 class="title">{{"Home.peoplesection_third_title" | translate}}</h4>
                            <p>{{"Home.peoplesection_third_description" | translate}}</p>
                        </div>
                    </div>
                    <!-- End Single News -->
                </div>
            </div>
            <img class="service-patern wow fadeInRight overlay-image" data-wow-delay=".5s" src="../../../assets/img/service-patern.png" alt="#"
                    style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;position: absolute;bottom: 184px;left: -25px; z-index:-1;">
        </div>
    </div>
    <!-- End People section -->

    <section class="newsletter-area section">
        <div class="container">
            <div class="row ">
                <div class="col-12">

                    <div class="mini-call-action wow fadeInRight text-center" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight; z-index: 2;">
                        <h4>{{"Home.lastsection_title" | translate}}</h4>
                        <p>{{"Home.lastsection_description" | translate}}</p>
                        <div class="button">
                            <a href="/login" class="btn">{{"Home.lastsection_button" | translate}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
