<div style="padding-top: 90px;">

    <!-- Start Hero Area -->
    <section class="hero-area">
        <div class="row">
            <div class="sidebar">
                <form [formGroup]="sidebarForm" id="sidebar-form" (ngSubmit)="searchResult()">
                    <div class="search mb-5">
                        <img src="../../../assets/icons/search.svg">
                        <input type="text" [placeholder]="'Common.search' | translate" formControlName="search" [(ngModel)]="search">
                    </div>


                    <div class="option-container">
                        <div class="option-title-container">
                            <div class="option-icon">
                                <img src="assets/img/album-type.svg">
                            </div>
                            <h4 style="color: white;">{{"Common.genre" | translate}}</h4>
                        </div>

                        <div class="sub-option-container">
                            <div class="checkbox-option" *ngFor="let genre of genres">
                                <input type="checkbox" class="form-check-input" formControlName="genres" [value]="genre.name" (change)="genresValues($event)">
                                <p style="text-transform: capitalize;">{{genre.name}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="option-container">
                        <div class="option-title-container">
                            <div class="option-icon">
                                <img src="../../../assets/icons/genres.svg">
                            </div>
                            <h4 style="color: white;">{{"Common.instruments" | translate}}</h4>
                        </div>

                        <div class="sub-option-container">
                            <div class="checkbox-option" *ngFor="let instrument of instruments">
                                <input type="checkbox" class="form-check-input" formControlName="instruments" [value]="instrument.name" (change)="instrumetsValues($event)">
                                <p style="text-transform: capitalize;">{{instrument.name}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="option-container">
                        <div class="option-title-container">
                            <div class="option-icon">
                                <img src="../../../assets/icons/sort.svg">
                            </div>
                            <h4 style="color: white;">{{"Common.sort" | translate}}</h4>
                            <!--<div class="option-icon sort-direction">

                                <div *ngIf="sidebarForm.get('sortDirection')?.value == 'ASC'">
                                    <img src="../../../assets/icons/sortAsc.svg">
                                </div>
                                <div *ngIf="sidebarForm.get('sortDirection')?.value == 'DESC'">
                                    <img src="../../../assets/icons/sortDesc.svg">
                                </div>
                                <input *ngIf="sidebarForm.get('sortDirection')?.value == 'ASC'" type="text"
                                    formControlName="sortDirection" value="ASC" hidden >
                                <input *ngIf="sidebarForm.get('sortDirection')?.value == 'DESC'" type="text"
                                    formControlName="sortDirection" value="DESC" hidden >

                            </div>-->
                        </div>

                        <div class="sub-option-container">
                            <div class="radio-option">
                                <input type="radio" class="form-check-input" formControlName="sortBy" value="TITLE" >
                                <p>{{"Common.title" | translate}}</p>
                            </div>
                            <div class="radio-option">
                                <input type="radio" class="form-check-input" formControlName="sortBy" value="SONGTITLE" >
                                <p>{{"Common.song_name" | translate}}</p>
                            </div>
                            <div class="radio-option">
                                <input type="radio" class="form-check-input" formControlName="sortBy" value="CREATEDATETIME" >
                                <p>{{"Common.creation_date" | translate}}</p>
                            </div>
                            <div class="radio-option">
                                <input type="radio" class="form-check-input" formControlName="sortBy"
                                    value="LIKES">
                                <p>{{"Common.likes" | translate}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="option-container">
                        <div class="option-title-container">
                            <div class="option-icon">
                                <img src="../../../assets/icons/filter.svg">
                            </div>
                            <h4 style="color: white;">{{"Common.filters" | translate}}</h4>
                        </div>

                        <div class="sub-option-container">
                            <div class="radio-option">
                                <input type="radio" class="form-check-input" formControlName="filter" value="verified">
                                <p>{{"MusicSheet.verified" | translate}}</p>
                            </div>
                            <div class="radio-option">
                                <input type="radio" class="form-check-input" formControlName="filter" value="rearrange">
                                <p>{{"MusicSheet.rearranged" | translate}}</p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="rearrange-submit" class="button wow fadeInUp submit mt-4" data-wow-delay=".7s"
                                style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp; width: fit-content; border-width: inherit;
                                background-color: transparent;">
                            <a class="btn">{{"Common.search" | translate}}</a>
                    </button>
                </form>
            </div>
            <div class="col pt-4 pb-4 pl-4 relative scores-view"
                style="padding: 20px;overflow-y: scroll; overflow-x:hidden">
                <h1 class="mb-3"> Tutti i nostri spartiti</h1>
                <div *ngFor="let musicSheet of musicSheets  | paginate:  {
                    id:'some_id',
                    itemsPerPage: 5,
                    currentPage: page}">
                    <app-music-sheet-card [musicSheet]="musicSheet" (click)="goToMusicSheet(musicSheet.id)"></app-music-sheet-card>
                </div>
                <img class="service-patern wow fadeInRight overlay-image" data-wow-delay=".5s"
                    src="../../../assets/img/service-patern.png" alt="#"
                    style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;position: absolute;top: 65px;right: -55px;">

                <nav>
                    <pagination-controls id="some_id"
                                         (pageChange)="pageChanged($event)"
                                         (pageBoundsCorrection)="pageChanged($event)"
                                         previousLabel="Previous"
                                         nextLabel="Next"
                                         screenReaderPaginationLabel="Pagination"
                                         screenReaderPageLabel="page">
                    </pagination-controls>
                </nav>
            </div>
        </div>

    </section>

</div>
