<html 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:nl2br="https://github.com/bufferings/thymeleaf-extras-nl2br"
    layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/musicSheetCard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/musicSheets.css}">
    <script type="text/javascript" th:src="@{/js/sidebar-submit.js}" ></script>
</head>
<body>
<div layout:fragment="content" style="padding-top: 90px;">

   <!-- Start Hero Area -->
    <section class="hero-area">
            <div class="row">
                <div class="sidebar">
                    <form th:action="@{/musicsheets/}" th:object="${formData}" method="post" id="sidebar-form">
                        <div class="search mb-5">
                            <svg th:replace="fragments/icons :: search"></svg>
                            <input type="text" th:placeholder="#{common.search}" th:field="*{search}">
                        </div>
    
    
                        <div class="option-container">
                            <div class="option-title-container">
                                <div class="option-icon">
                                    <svg th:replace="fragments/icons :: album-type"></svg>
                                </div>
                                <h4 style="color: white;" th:text="#{common.genre}"></h4>
                            </div>
        
                            <div class="sub-option-container">
                                <div class="checkbox-option" th:each="genre : ${genres}">
                                    <input type="checkbox" class="form-check-input" th:field="*{genres}" th:value="${genre.name}">
                                    <p th:text="${genre.name}" style="text-transform: capitalize;"></p>
                                </div>
                            </div>
                        </div>
    
                        <div class="option-container">
                            <div class="option-title-container">
                                <div class="option-icon">
                                    <svg th:replace="fragments/icons :: genres"></svg>
                                </div>
                                <h4 style="color: white;" th:text="#{common.instruments}"></h4>
                            </div>
        
                            <div class="sub-option-container">
                                    <div class="checkbox-option" th:each="instrument : ${instruments}">
                                        <input type="checkbox" class="form-check-input" th:field="*{instruments}" th:value="${instrument.name}">
                                        <p th:text="${instrument.name}" style="text-transform: capitalize;"></p>
                                    </div>
                            </div>
                        </div>
                       
                        <div class="option-container">
                            <div class="option-title-container">
                                <div class="option-icon">
                                    <svg th:replace="fragments/icons :: sort"></svg>
                                </div>
                                <h4 style="color: white;" th:text="#{common.sortby}"></h4>
                                <div class="option-icon sort-direction">
                                    <div th:if="${formData.sortDirection == 'ASC'}" th:remove="tag">
                                        <svg th:replace="fragments/icons :: sort-asc"></svg>
                                    </div>
                                    <div th:if="${formData.sortDirection == 'DESC'}" th:remove="tag">
                                        <svg th:replace="fragments/icons :: sort-desc"></svg>
                                    </div>
                                    <input th:if="${formData.sortDirection == 'ASC'}" type="text" name="sortDirection" value="ASC" hidden>
                                    <input th:if="${formData.sortDirection == 'DESC'}" type="text" name="sortDirection" value="DESC" hidden>
                                </div>
                            </div>
        
                            <div class="sub-option-container">
                                <div class="radio-option">
                                    <input type="radio" class="form-check-input" th:field="*{sortBy}" value="title">
                                    <p th:text="#{common.title}"></p>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" class="form-check-input" th:field="*{sortBy}" value="song.title">
                                    <p th:text="#{common.songName}"></p>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" class="form-check-input" th:field="*{sortBy}" value="createDateTime">
                                    <p th:text="#{common.creationDate}"></p>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" class="form-check-input" th:field="*{sortBy}" value="likes.size">
                                    <p th:text="#{common.likes}"></p>
                                </div>
                            </div>
                        </div>
    
                        <div class="option-container">
                            <div class="option-title-container">
                                <div class="option-icon">
                                    <svg th:replace="fragments/icons :: filter"></svg>
                                </div>
                                <h4 style="color: white;" th:text="#{common.filters}"></h4>
                            </div>
        
                            <div class="sub-option-container">
                                <div class="checkbox-option">
                                    <input type="checkbox" class="form-check-input" th:field="*{verified}">
                                    <p th:text="#{musicsheets.verified}"></p>
                                </div>
                                <div class="checkbox-option">
                                    <input type="checkbox" class="form-check-input" th:field="*{rearranged}">
                                    <p th:text="#{musicsheets.rearranged}"></p>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" th:field="*{pageNumber}">
                    </form>
                </div>
                <div class="col pt-4 pb-4 pl-4 relative scores-view" style="padding: 20px;overflow-y: scroll; overflow-x:hidden">
                        <h1 class="mb-3"> Tutti i nostri spartiti</h1>
                        <div th:each="musicSheet : ${musicSheets}" th:remove="tag">
                            <div th:replace="fragments/musicSheetCard :: musicSheetCard(musicsheet = ${musicSheet})"></div>
                        </div>
                        <img class="service-patern wow fadeInRight overlay-image" data-wow-delay=".5s" th:src="@{/img/service-patern.png}" alt="#" 
                        style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;position: absolute;top: 65px;right: -55px;">

                        <nav>
                            <ul class="pagination justify-content-center">
                                <!-- previus button -->
                                <div th:if="${formData.pageNumber+1 == 1}" th:remove="tag">
                                    <li class="page-item disabled">
                                        <a class="page-link" tabindex="-1">Previous</a>
                                    </li>
                                </div>
                                <div th:unless="${formData.pageNumber+1 == 1}" th:remove="tag">
                                    <li class="page-item" th:page-value="${formData.pageNumber-1}">
                                        <a class="page-link" tabindex="-1">Previous</a>
                                    </li>
                                </div>
                                
                                <!-- previus page -->
                                <!--<li th:if="${formData.pageNumber != 0}" class="page-item" th:page-value="${formData.pageNumber-1}"><a class="page-link" th:inline="text">[[${formData.pageNumber}]]</a></li>-->
                                <!-- current page -->
                                <!--<li class="page-item active"><a class="page-link" th:inline="text">[[${formData.pageNumber+1}]]</a></li>-->
                                <!-- next page -->
                                <!--<li th:if="${formData.pageNumber+2 <= formData.totalPages}" class="page-item" th:page-value="${formData.pageNumber+1}"><a class="page-link" th:inline="text" >[[${formData.pageNumber+2}]]</a></li>-->

                                <!-- next button -->
                                <div th:if="${formData.pageNumber+1 == formData.totalPages}" th:remove="tag">
                                    <li class="page-item disabled">
                                        <a class="page-link" tabindex="+1">Next</a>
                                    </li>
                                </div>
                                <div th:unless="${formData.pageNumber+1 == formData.totalPages}" th:remove="tag">
                                    <li class="page-item" th:page-value="${formData.pageNumber+1}">
                                        <a class="page-link" tabindex="+1">Next</a>
                                    </li>
                                </div>
                            </ul>
                        </nav>
                </div>
            </div>
            
    </section>

</div>
</body>

</html>
